@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%
}

.container{
    width: 100%;
    height: 50px;
    background-color: #505050;
}

/* LOGO */
.logo{
    width: 20%;
    display: inline;
    margin-left: 10px;
}

.logoImagem{
    width: 40px;
    padding: 1px;
    margin-right: 5px;
    /* display: inline; */
}

.logoTexto{
    font-size: 3rem;
    font-weight: 400;
    font-family: Oswald;
    color: #fff;
    display: inline
}
/* /LOGO */
/* BARRA DE PESQUISA */
.barraPesquisa{
    position: relative;
    margin-top: -35px;
    display: flex;
}

.pesquisa{
    position: relative;
    width: 450px;
    height: 30px;
    margin: 0 auto;
    border-radius: 7px 0 0 7px;
    border: none;
    padding: 5px;
    background-color: #121212; 
    color: #fff;
    font-size: 1.5rem;
    display: inline;
}

.btnPesquisa{
    position: relative;
    width: 70px;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-radius: 0 7px 7px 0;
    background-color: #121212;
    cursor: pointer;
    display: inline;
}

.fa-search{
    font-size: 2.2rem;
    color: #fff;
    background-color: #121212;
}
/* /BARRA DE PESQUISA */

